/* font-family: abel */
@font-face {
  font-family: Abel;
  src: url(../fonts/Abel/Abel-Regular.ttf);
}

/* font-family: anton */
@font-face {
  font-family: Anton;
  src: url(../fonts/Anton/Anton-Regular.ttf);
}

/* font-family: josefin */
@font-face {
  font-family: JoseFin;
  src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

/* font-family: lexend */
@font-face {
  font-family: Lexend;
  src: url(../fonts/Lexend_Deca/LexendDeca-Regular.ttf);
}

/* font-family: livvic */
@font-face {
  font-family: Livvic;
  src: url(../fonts/Livvic/Livvic-Regular.ttf);
}